{% extends 'base.html' %}
{% load static %}
{% block lisk_css_category_list %} 
    <link rel="stylesheet" href="{% static 'news/css/category_list.css' %}">
{% endblock %}
{% block title %}
    CATEGORY
{% endblock %}
{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}
{% block content %}
    <h1>CATEGORY</h1>
    <div class="category_list">
        {% for category in categorys %}
            <h2><a href="{% url 'show_news_by_category' category %}">{{ category|title }}</a></h3>
        {% endfor %}
    </div>
    
{% endblock %}