{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link_css %} {% endblock %}
    {% block link_css_navbar %} {% endblock %}
    {% block lisk_css_category_list %} {% endblock %}
    <title>{% block title %} {% endblock %}</title> 
</head>
<body>
    <div class="base">
        <div class="base_navbar">
            {% block navbar %}{% endblock %}
        </div>
        <div class="base_news_column">
            {% block content %}{% endblock %}
        </div>
        
    </div>
    
</body>
</html>